<div class="d-flex justify-content-around">
    <div>
        <h2>Film</h2>
        <i class="fas fa-film"></i>
    </div>
    <div>
        <h2>Jeux-vidéo</h2>
{#        <a href="{{ path('game_index') }}">#}
{#            <i class="fas fa-gamepad"></i>#}
{#        </a>#}
    </div>
    <div>
        <h2>Série</h2>
        <i class="fas fa-tv"></i>
    </div>
</div>
