{% extends 'base.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}
    <div class="container text-light">
        <h1>Ajout Série</h1>
        <div class="d-flex justify-content-around">
            <div class="row-1">
                {{ include('serie/_form.html.twig', {'button_label': 'Créer'}) }}
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('serie_index') }}">
            <button class="btn btn-primary">
                Retour à la liste
            </button>
        </a>
    </div>
{% endblock %}
