<div class="topbar d-flex ">
    <a href="{{ path('home') }}">
        <img src='{{ asset('build/canapé.png') }}' class="logo-canapé" alt="canapé.png">
    </a>
    <h1 class="text-white font-weight-bold">MY CHILL LIST</h1>
</div>
